* @JoshuaWise
/package.json @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/compilation.md @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/performance.md @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/troubleshooting.md @JoshuaWise @WiseLibs/better-sqlite3-team
/.github/workflows/build.yml @JoshuaWise @WiseLibs/better-sqlite3-team
